{% load bootstrap4 %}

<!doctype html>
<html data-bs-theme="light" lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
          shrink-to-fit=no">
    <title>BLog.</title>
    <meta name="theme-color" content="#712cf9">

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5 border">

          <!-- Site logo -->
          <div class="container">
            <div class="col-6 text-right">
              <a class="navbar-brand" href="{% url 'blog:index' %}">
               <h3>
                 <img src="https://svgsilh.com/svg/2001981.svg"
                     alt="Logo" width="45" height="40" class="d-inline-block align-text-top">
               </h3>
              </a>
            </div>
            <!-- Toggle button -->
            <div class="col-5 text-center">
              <button class="navbar-toggler" type="button" data-toggle="collapse"
                      data-target="#navbarCollapse" aria-controls="navbarCollapse"
                      aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>


              <!-- Login and Sign-in  or User Profile and Logout-->
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="d-grid gap-2 d-md-block ml-auto">
                  {% if not user.is_authenticated %}
                      <a class="btn" type="button" href="{% url 'users:login' %}">
                        Log In
                      </a>
                      <a class="btn btn-dark" type="button" href="{% url 'users:register' %}">
                        Sign-in
                      </a>
                  {% else %}
                      <a class="btn" type="button" href="{% url 'users:profile' user.id %}">
                        Hello, {{ user.username }}
                      </a>
                      <a class="btn btn-dark" type="button" href="{% url 'users:logout' %}">
                        Log Out
                      </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
    </nav>
    <main role="main" class="container">

      <!-- Header -->
      <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}{% endblock page_header%}
      </div>

        {% block content %}{% endblock content %}

    </main>
  </body>
</html>